<div class="container aa-container">
  <div class="row aa-header">
    <div class="col">
      Confirmation Page
    </div>
  </div>

  <div class="row cust-info">
    <div class="col-">
      <p>Name: PLACEHOLDER_FIRSTNAME && PLACEHOLDER_LASTNAME</p>
      <p>Email: PLACEHOLDER_EMAIL</p>
      <p>Confirmation number: PLACEHOLDER</p>
    </div>
  </div>


  <div class="row flight-info">
    <div class="col=2">
      <h3 id="aa-flight-info">Here is your flight info:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table aa-table table-bordered">
        <thead>
          <tr>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PLACEHOLDER</td>
            <td>PLACEHOLDER</td>
            <td>PLACEHOLDER</td>
            <td>PLACEHOLDER</td>
            <td>PLACEHOLDER</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
