<div class="container aa-container">
  <div class="row aa-header">
    <div class="col-12">
      Flight Booking Page
    </div>
  </div>

  <div class="row aa-enter-record">
    <div class="col-4">
      <form class="aa-record">
        <div class="form-group">
          <label class="control-label">Flight Record Locator:</label>
        </div>
      </form>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
    </div>
  </div>

  <div class="aa-img">

  </div>

  <form [formGroup]="form">

    <div class="row aa-search">
      <div class="col">
        <div class="aa-calc-origin">
          <div class=" form-group">
            <label class="control-label">Origin:</label>
            <input type="text" class="form-control" formControlName="origin" />
          </div>
        </div>
      </div>

      <div class="col">
        <div class="aa-calc-destination">
          <div class=" form-group">
            <label class="control-label">Destination:</label>
            <input type="text" class="form-control" formControlName="destination" />
          </div>
        </div>
      </div>

      <div class="col">
        <div class="aa-calc-date">
          <div class=" form-group">
            <label class="control-label">Date:</label>
            <input type="text" class="form-control" formControlName="date" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-md btn-success" (click)="calculate($event)">
          Search
        </button>
      </div>
    </div>

  </form>

  <div>{{flights | json}} </div>
  <div class="row aa-table">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Test
            </td>
            <td>PLACEHOLDER</td>
            <td>PLACEHOLDER</td>
            <td>PLACEHOLDER</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-md btn-success">
        Buy
      </button>
    </div>
  </div>

</div>
