<div class="container aa-container">
  <div class="row aa-header">
    <div class="col">
      Checkout Page
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table aa-table table-bordered">
        <thead>
          <tr>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
            <th>PLACEHOLDER_HEADER</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Test
            </td>
            <td>PLACEHOLDER</td>
            <td>PLACEHOLDER</td>
            <td>PLACEHOLDER</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row aa-price float-right">
    <div class="col">
      <p>Total price: PLACEHOLDER</p>
    </div>
  </div>

  <div class="row cust-info">
    <div class="col">
      <h3>Please enter the following information:</h3>
      <form>
        <div class="row">
          <div class="col">
            <div class=" form-group">
              <label class="control-label">First Name:</label>
              <input type="text" class="form-control" />
            </div>
          </div>

          <div class="col">
            <div class=" form-group">
              <label class="control-label">Last Name:</label>
              <input type="text" class="form-control" />
            </div>
          </div>

          <div class="col">
            <div class=" form-group">
              <label class="control-label">Email:</label>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-md btn-success">
        Buy
      </button>
    </div>
  </div>
</div>
